@import "./login.scss";
@import "../commons.scss";

.logo {
  width: 170px;
  height: 170px;
}

.signup_wrapper {
  display: flex;
  flex-direction: column;

  margin-right: -95px;
}

.signup_h1 {
  padding-bottom: 30px;
  font-size: 19px;
}

.input_wrapper {
  display: flex;
  align-items: center;
}

.eye_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.btn_approve {
  width: 80px;
  margin-bottom: 0;
  margin-left: 15px;
}

.btn_next {
  width: 340px;
  margin-top: 40px;
}

.eye {
  cursor: pointer;
  margin-left: 15px;
}
