@import "./global.scss";

button {
  cursor: pointer;
  width: 340px;
  height: $height;
  margin-bottom: 16px;
  border-radius: 6px;
  border: none;
  background-color: $primary;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    background-color: $primary300;
    transition: background 0.2s ease-out;
  }
}
