@import "./global.scss";
@import "./variables.scss";

// button
button {
  height: $height;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  background-color: $primary;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    background-color: $primary300;
    transition: background 0.2s ease-out;
  }

  & + & {
    margin-left: 15px;
  }
}

.btn_empty {
  width: 340px;
  height: $height;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid $primary;
  background-color: white;
  color: $primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    border: 1px solid $primary300;
    background-color: white;
    color: $primary300;
    transition: all 0.2s ease-out;
  }
}

.btn_disabled {
  cursor: no-drop;
  width: 340px;
  height: $height;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid $gray300;
  background-color: white;
  color: $gray300;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    border: 1px solid $gray300;
    background-color: white;
    color: $gray300;
    transition: all 0.2s ease-out;
  }
}

.btn_cancel {
  height: 45px;
  margin-bottom: 0;
  background-color: $error;

  &:hover {
    background-color: $errorLight;
    color: white;
  }
}

.btn_approve_empty {
  width: 45px;
  height: 45px;
  margin-bottom: 0;
  margin-left: 10px;
  background-color: white;
  border: 1px solid $primary;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

.btn_cancel_empty {
  width: 45px;
  height: 45px;
  margin-bottom: 0;
  background-color: white;
  border: 1px solid $error;
  color: $error;

  &:hover {
    background-color: $error;
    color: white;
  }
}

.btn_small {
  width: 45px;
}

.btn_middle {
  width: 120px;
}

// input
input {
  width: 340px;
  height: $height;
  border-radius: 6px;
  border: none;
  background-color: $gray100;
  padding: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: $black3;

  ::placeholder {
    color: $gray300;
    font-size: 16px;
    line-height: 19px;
  }
}

// heading
h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

// others

.checkbox {
  width: 20px;
  height: 20px;
}

.icon {
  width: 24px;
}
