@import "../global.scss";

.btn_empty {
  width: 340px;
  height: $height;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid $primary;
  background-color: $white;
  color: $primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    border: 1px solid $primary300;
    background-color: $white;
    color: $primary300;
    transition: all 0.2s ease-out;
  }
}

.btn_disabled {
  cursor: no-drop;
  width: 340px;
  height: $height;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid $gray300;
  background-color: $white;
  color: $gray300;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    border: 1px solid $gray300;
    background-color: $white;
    color: $gray300;
    transition: all 0.2s ease-out;
  }
}
